<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>io.perryquotes - signup</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.2/css/bootstrap.min.css} "/>
</head>
<body>
<div class="container">
    <header th:replace="layout-fragments::header">
    </header>
    <div class="row">
        <h3>signup</h3>
        <form action="#">
            <div class="form-floating mb-3 mt-3">
                <input type="text" class="form-control" id="firstname" name="firstname">
                <label for="firstname">Firstname:</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="lastname" name="lastname">
                <label for="lastname">Lastname:</label>
            </div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="email" name="email">
                <label for="email">Email:</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="password" name="password">
                <label for="password">Password:</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="password_confirm" name="password_confirm">
                <label for="password_confirm">Confirm Password:</label>
            </div>
            <button type="submit" class="btn btn-primary">Sign up</button>
        </form>
    </div>
    <div th:replace="layout-fragments::footer"></div>
</div>
<script th:src="@{/webjars/bootstrap/5.2.2/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
</body>
</html>
