<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>io.perryquotes - authors</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.2/css/bootstrap.min.css} "/>
</head>
<body>
<div class="container">
    <header th:replace="layout-fragments::header"></header>
    <div class="row">
        <h5>Create author</h5>
    </div>
    <div class="row">
        <form action="#" class="needs-validation" novalidate method="post" th:object="${author}" th:action="@{/authors}">
            <div class="form-floating mb-3 mt-3">
                <input type="text" class="form-control" id="author_name" name="author_name" required th:field="*{name}">
                <label for="author_name">Name</label>
                <div class="invalid-feedback">author name is required</div>
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
    <div th:replace="layout-fragments::footer"></div>
</div>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
<script th:src="@{/webjars/bootstrap/5.2.2/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
</body>
</html>
