<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{main-layout}">
<head>
    <title>author list</title>
</head>
<body>
<section class="my-5" layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Authors</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a class="btn btn-primary" href="#" th:href="@{/authors/form}" role="button">Create new author</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Uuid</th>
                        <th scope="col">Name</th>
                        <th scope="col">Created</th>
                        <th scope="col">Last modified</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>4bb8061f-cf76-4635-bc12-345fce6d15df</td>
                        <td>Perry Rhodan</td>
                        <td>2022-01-21T05:47:08.644</td>
                        <td>2022-01-21T05:47:08.644</td>
                    </tr>
                    <tr>
                        <td>1d167423-d835-43d9-a4f4-050b39b43642</td>
                        <td>Atlan</td>
                        <td>2022-01-21T05:47:08.644</td>
                        <td>2022-01-21T05:47:08.644</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
</body>
</html>
