<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>io.perryquotes - home</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.2/css/bootstrap.min.css} "/>
</head>
<body>
<div class="container">
    <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="#" th:href="@{/}" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="#" th:href="@{/quotes}" class="nav-link">Quotes</a></li>
            <li class="nav-item"><a href="#" th:href="@{/authors}" class="nav-link">Authors</a></li>
            <li class="nav-item"><a href="#" th:href="@{/sources}" class="nav-link">Sources</a></li>
            <li class="nav-item"><a href="#" th:href="@{/about}" class="nav-link">About</a></li>
        </ul>
        <div class="col-md-3 text-end">
            <a class="btn btn-primary" href="#" th:href="@{/login}" role="button">Login</a>
            <a class="btn btn-primary" href="#" th:href="@{/signup}" role="button">Sign up</a>
        </div>
    </header>
    <div class="row">
        <h3>home</h3>
    </div>
</div>
<script th:src="@{/webjars/bootstrap/5.2.2/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
</body>
</html>
